.wrapperStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid #000;

    span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 50%;
        }
    }

    footer {
        display: flex;
        gap: 1rem;
    }

    &.dark {
        background: #1c1c1c;
        color: #fff;
        border: 2px solid #fff;
    }
}